$default-link-colour: #333;
$hover-link-colour:   #333;
$focus-link-colour:   #333;

$banner-text-colour: #eee;

$primary-back-colour: #fed041;
$primary-back-text-colour: #333;

$footer-back-colour: #1f1f1f;

$active-back-colour: #fed041;
$active-back-colour-darker: #1f1f1f;
$active-back-colour-darker-1: #181818;